<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates Directory</title>
</head>
<body background style="background-color: red;">
    <center>
        <h1 style="color:yellow;">
            WATCHING MOVIES IS LIKE A GOD GIFT
            <h2 style="color: blue;">MOVIES ARE ALWAYS GREAT</h2>
            <h3>a person who is very interested in and enthusiastic about cinema as an art form, and knows a lot about films</h3>

        </h1>
    </center>
</body>
</html>